@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

/* @theme {
  --color-app-bg: var(--color-slate-50);
  --color-app-card: var(--color-white);
  --color-app-text-main: var(--color-slate-900);
  --color-app-text-sub: var(--color-slate-600);
  --color-app-border: var(--color-slate-200);
  --color-app-primary: var(--color-blue-600);
  --color-app-hover: var(--color-blue-50);

  @variant dark {
    --color-app-bg: var(--color-slate-900);
    --color-app-card: var(--color-slate-800);
    --color-app-text-main: var(--color-slate-100);
    --color-app-text-sub: var(--color-slate-400);
    --color-app-border: var(--color-slate-700);
    --color-app-primary: var(--color-blue-400);
    --color-app-hover: var(--color-slate-700);
  }
} */